
@font-face {
    font-family: 'minaxihairline_text';
    src: url('minaxi_hairline_text-webfont.woff2') format('woff2'),
         url('minaxi_hairline_text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.slides{
    height: 600px;
    width:  100vw;
 }
 .images{
     /* margin-left: center; */
     text-align: center;
     height: 600px;
     width:  100vw;
     margin-bottom: 0%;
 }
 .log{
     height: 5px;
     width: 10px;
 }
.Word{
     text-shadow: 3px 3px rgba(228, 223, 223, 0.39);
     font-weight: bold;
 }
.dropdown-toggle{ 
    margin-top: -0px;
    background-color: white;
 }
.signInBtn button{
    color: black;
    background-color: gray;
}

.btn-secondary{
     background-color: rgba(0, 0, 0, 0) !important;
     border: rgba(255, 255, 255, 0.749) !important ;
     margin-top:-20px ;
     margin-left: -55px;
     z-index: 3;
     position: absolute;
     
 }
 .MiniJumbo{
    height: 50px;
    width: 15rem;
    margin-top: -220px;
    margin-left: 25px;
    color: rgb(255, 255, 255);
    border: solid rgba(0, 0, 0, 0.057);
    text-align: center;
    font-family: 'minaxihairline_text';
    z-index: 2;
    position: relative;
}
.Jumbo{
    
    height: 18rem;
    width: 15rem;
    margin-left: 25px;
    background-color: white;
    background:linear-gradient( #d6a4a4d5, #ffff),url('https://66.media.tumblr.com/615fb30dd18a58231fb67fde7717216d/tumblr_phi4thgHFP1w3y4ilo1_640.gif');
    z-index: 2;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(233, 231, 231, 0.185);
}
.places{
    border: white solid;
    height: 700px;
    width: 700px;
    margin: auto;
}
.homeText{
    color: rgba(43, 40, 40, 0.454);
    margin-left: 20%;
    animation: text-focus-in 5s; 
    font-family: 'minaxihairline_text';
    text-shadow: 3px 3px rgb(167, 165, 165);
}
@keyframes text-focus-in{0%{-webkit-filter:blur(52px);filter:blur(52px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}};

h1{
    
}
.heading{
    
    margin-left: 0%;
    margin-top: 10%;
    border: none;
    height: 200px;
    background-image: linear-gradient(   #ece9e6 , #ffffff) ;
}
.trom{
    background:linear-gradient(0deg, 
    #dae2f8ee
    , #d6a4a4d5) , url('https://66.media.tumblr.com/615fb30dd18a58231fb67fde7717216d/tumblr_phi4thgHFP1w3y4ilo1_640.gif');
    color: white;
    font-family: 'minaxihairline_text';

}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    /* background-color: #e9ecef; */
    border-radius: .3rem;
}
.trom2{
    background-image:linear-gradient( #ece9e6 , #ffffff 
    ) ; 
    color: rgb(154, 151, 151);
    font-family: 'minaxihairline_text';
    margin-top: -5%;
    height: 700px;
    width: 1000px;
    margin-left: 15%;
    z-index: inherit;
    position: relative;
    text-align: center;
}
.location1{
    border: none;
   height: 320.5px;
   width: 470px;
   margin-left: -10%;
   background-image: url('./images/locationlist.png');
}
.location2{
    float:right;
    border: none;
   height: 290.5px;
   width: 470px;
  margin-top: -30%;
   background-image: url('./images/locationlist2.png');
}
.display-3{
    color: rgba(43, 40, 40, 0.454);
    text-shadow: 1.5px 1.5px rgba(230, 230, 230, 0.808);
}
.dropdown-menu{
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: white;
  font-size:;
}
.form{

    font-family: 'minaxihairline_text';
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    text-shadow: 1.5px 1.5px rgba(230, 230, 230, 0.144);
    
}
.largeBtn{
    /* border: solid rgb(255, 255, 255); */
}